extends layout

block content
  //- actionで遷移先を指定する
  form(method="post", action="/login")
    div
      input(type="text", name="userId")
    div
      input(type="password", name="password")
    div
      button(type="submit") LOGIN
  form(method="post", action="/login/test")
    div
      input(type="text", name="userId2")
    div
      button(type="submit") TEST