extends layout

block content
  //- actionで遷移先を指定する
  div(class="panel panel-default col-md-4 col-md-offset-4")
    div(class="panel-body") 
      form(method="post" action="/login" class="form-signin mb10")
        if message
          div(class="form-group")
            Label #{message}
        div(class="form-group")
          input(type="text" name="userId" class="form-control" placeholder="ユーザID" required autofocus)
        div(class="form-group")
          input(type="password" name="password" class="form-control" placeholder="パスワード" required)
        div(class="form-group")
          button(type="submit" class="btn btn-lg btn-primary btn-block btn-signin") Login
      a(href='/users/register') sign up
