extends layout

block content

  div(class="panel panel-default")
    div(class="panel-heading") スレッドの作成
    div(class="panel-body") 
      form(method="post" action=`/threads/new` enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value!=csrfToken)
        div(class="form-group") スレッド名
          input(type="text" name="title" class="form-control" required)
        div(class="form-group") 投稿内容
          textarea(name="content" class="form-control" required)
        div(class="form-group") .jpg or .png
          input(type="file" name="imageFile" class="btn btn-default" accept=".jpg,.png,image/jpg,image/jpeg,image/png")
        div(class="form-group")
          button(type="submit" class="btn btn-primary") スレッドを作成