extends layout

block content

  h3 投稿の編集
    form(method="post", action="/postId/#{post.id}?edit=1")
      div(class="form-group")
        label(for="content") 予定名
        textarea(id="content" class="form-control" name="content") #{post.content}
      div
        button(class="btn btn-info" type="submit") 以上の内容で投稿を編集する
  h3 危険な変更
  form(method="post", action="postId/#{post.id}?delete=1")
    button(class="btn btn-danger" type="submit") この投稿   を削除する